<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <title>客服帮助</title>
    <link rel="stylesheet" href="__PUBLIC__/Home/New/css/style.css">
    <script src="__PUBLIC__/Home/New/js/flexible.js"></script>
</head>
<body>
<div class="content-wrap">
    <div class="content">
        <div class="qrcode">
            <!--二维码非我们自己的需要更换-->
            <img src="__PUBLIC__/Home/New/images/qrcode.png" alt="">
        </div>
        <div class="salutatory ">
            <p>请长按以上二维码联系客服提现！！！</p>
        </div>
    </div>
</div>
<div class="footer">
    <ul class="nav-bottom clearfix">
        <li>
            <a href="{:U('Index/index')}">
                <span class="nav-pic nav-pic-left"></span>
                <h3>猜大小</h3>
            </a>
        </li>
        <li>
            <a href="{:U('Partake/index')}">
                <span class="nav-pic nav-pic-center"></span>
                <h3>分享赚钱</h3>
            </a>
        </li>
        <li class="active">
            <a href="{:U('Personal/index')}">
                <span class="nav-pic nav-pic-right"></span>
                <h3>个人中心</h3>
            </a>
        </li>
    </ul>
</div>
</body>
</html>