<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="format-detection" content="telephone=no" />
    <!--<meta name="viewport" id="viewport" content="width=device-width, initial-scale=1">-->
    <title>个人中心</title>
    <script src="__PUBLIC__/Home/js/jquery-2.1.4.js"></script>
    <script src="__PUBLIC__/Home/js/flexiblem.js"></script>
    <script src="__PUBLIC__/Home/js/personal.js"></script>
    <link rel="stylesheet" href="__PUBLIC__/Home/css/reset.css">
    <link rel="stylesheet" href="__PUBLIC__/Home/css/personal.css">
    <script>var rechage_url = '{:U("Personal/rechage")}';</script>
</head>
<body>
    <article>
        <section class="header">
            <div class="head-bg">
                <div class="head-pic"></div>
            </div>
            <h3 class="user-name font-16">匿名</h3>
            <p class="font-13">我的ID：<span class="number">{$my_id}</span></p>
        </section>
        <section class="balance">
            <div class="my-balance">
                <p class="balance-txt font-16"><span class="balance-pic"></span>我的余额：<span class="balance-num font-13">{$member.money}</span></p>
                <a href="#" class="balance-btn font-13">余额取出</a>
            </div>
        </section>
        <section class="record font-13">
            <a href="{:U('Personal/cathectic')}">
                <p class="cathectic-txt"><span class="cathectic-pic left"></span>投注记录<span class="right"></span></p>
            </a>
            <a href="{:U('Personal/deposit')}">
                <p class="kiting-txt"><span class="kiting-pic left"></span>提现记录<span class="right"></span></p>
            </a>
            <a href="{:U('Index/record')}">
                <p class="reward-txt"><span class="reward-pic left"></span>开奖记录<span class="right"></span></p>
            </a>
            <a href="{:U('Personal/commision')}">
                <p class="commission-txt"><span class="commission-pic left"></span>佣金记录<span class="right"></span></p>
            </a>
            <a href="{:U('Personal/cService')}">
                <p class="custom-service-txt"><span class="custom-service-pic left"></span>联系客服<span class="right"></span></p>
            </a>
        </section>
    </article>
    <nav>
        <ul class="font-10">
            <li>
                <a href="{:U('Index/index')}">
                    <div class="nav-pic bottom-left"></div>
                    <h3 >猜大小</h3>
                </a>
            </li>
            <li>
                <a href="{:U('Partake/index')}">
                    <div class="nav-pic bottom-center"></div>
                    <h3>分享赚钱</h3>
                </a>
            </li>
            <li>
                <a href="{:U('Personal/index')}">
                    <div class="nav-pic bottom-right"></div>
                    <h3>个人中心</h3>
                </a>
            </li>
        </ul>
    </nav>
    <section class="message-modal">
        <div class="opacity"></div>
        <div class="message font-13">
            <h3 class="font-16">信息<span class="close-btn font-30"></span></h3>
            <p>最少一元才能取出</p>
            <div class="true-btn font-16">确定</div>
        </div>
    </section>
    <section class="balance-modal">
        <div class="opacity"></div>
        <div class="balance-pop-up font-13">
            <h3 class="font-16">提现<span class="close-btn font-30"></span></h3>
            <form action="">
                <div class="balance-t">
                    <p class="balance-txt font-13">金额：</p>
                    <p class="balance-num font-13">{$member.money}</p>
                </div>
                <div class="balance-b fn-clear fn-13">
                    <label class="fn-left" for="balanceBtn">提现：</label>
                    <input class="fn-left" id="balanceBtn" type="text" placeholder="请输入金额">
                </div>
                <input class="pop-up-btn fn-16" type="button" value="确定">
            </form>
            <p class="wrong-message font-10"></p>
        </div>
    </section>
    <div class="lottery-explain-popup popup-bg popup"><!--<a href="{:U('Index/game')}"></a>-->
        <div class="lottery-explain-container">
            <h3>请长按以下二维码添加客服联系提现！！</h3>
            <p><img src="__PUBLIC__/Home/images/kefu.png"></p>
        </div>

    </div>
</body>
</html>