<extend name="Public/base"/>

<block name="body">
    <div class="main-title">
        <h2>编辑代理</h2>
    </div>
    <form action="{:U()}" method="post" class="form-horizontal">

        <div class="form-item">
            <label class="item-label">密码<span class="check-tips">（不更改就放空）</span></label>
            <div class="controls">
                <input type="password" class="text input-large" name="password" value="">
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">确认密码<span class="check-tips">（不更改就放空）</span></label>
            <div class="controls">
                <input type="password" class="text input-large" name="repassword" value="">
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">会员ID</label>
            <div class="controls">
                <input type="text" class="text input-large" name="agency_id" value="{$info.agency_id}">
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">返利</label>
            <div class="controls">
                <input type="text" class="text input-large" name="fanli" value="{$info.fanli}">（0-100整数，如：10即返利10%）
            </div>
        </div>
        <div class="form-item">
            <input type="hidden" class="text input-large" name="id" value="{$info.uid}">
            <button class="btn submit-btn ajax-post" id="submit" type="submit" target-form="form-horizontal">确 定</button>
            <button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
        </div>
    </form>
</block>

<block name="script">
    <script type="text/javascript">
        //导航高亮
        highlight_subnav('{:U('User/index')}');
    </script>
</block>
